@import url('../../../style_main/original.css');
/* 
.img-person {
    transition: transform .2s ease;
}

.person article>div:hover .img-person {
    transform: scale(1.1);
}

.person article>div div:first-of-type {
    width: 95px;
    box-shadow: -10px 10px 15px 0px rgb(204, 204, 204);
} */
