@import url('../../../style_main/original.css');

.box-parent{
    grid-template-columns: repeat(2,auto);
}
.box-text{
    bottom: 12px;
    right: 12px;
    color: var(--text-white) !important;
}
.box{
    transition: .3s;
    cursor: pointer;
}
.box::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color:  rgba(0, 0, 0, 0.3);
    transition: .3s;
}
.box:hover{
    transform: scale(.96);
}
.box:hover::after{
    background-color:  rgba(0, 0, 0, 0.2);
}