@import url('../../../style_main/original.css');

.box-person section:last-of-type div {
    grid-template-columns: repeat(100, auto);
}

.box-person section:last-of-type {
    max-width: 100%;
}

.person {
    width: 120px;
    background-color: var(--bg-header-footer);
}

.person div:first-of-type {
    width: 80px;
    height: 80px;
}

.box-person section:last-of-type::-webkit-scrollbar {
    height: 2px;
}

.box-person section:last-of-type::-webkit-scrollbar-thumb {
    background: var(--bg2-hover);
    box-shadow: inset 0px 0px 4px 0px white;
}

.box-person section:last-of-type::-webkit-scrollbar-track {
    background: var(--bg2);
}

.box-person>section {
    border-color: var(--bg2) !important;
    border-width: 2px !important;
}

/* .img-person {
    transition: transform .2s ease;
}

.person article>div:hover .img-person {
    transform: scale(1.1);
}

.person article>div div:first-of-type {
    width: 95px;
    box-shadow: -10px 10px 15px 0px rgb(204, 204, 204);
} */