@import url('../../../style_main/original.css');

.box-person{
    box-shadow: 0px 0px 10px 1px var(--bg-gray);
}

.person {
    /* width: 90%; */
    background-color: var(--bg1);
    box-shadow: 0px 0px 10px 2px var(--bg-gray);
    transition: box-shadow .1s , transform .2s;
}

.person:hover{
    box-shadow: 0px 0px 8px 0px var(--bg-gray);
    transform: scale(.99);   
}

.img-parent{
    width: 90px;
}