@media screen and (min-width: 576px) {
    .news-box{
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 220px auto;
    }
    .sidebar-new{
        background-color: var(--bg-header-footer);
        height: calc(100vh - 115px);
        top: 10px;
    }
    .news-box{
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 992px) {
    .sidebar-new{
        top: 75px;
    }
    .news-box{
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 1200px) {}