@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {
    .week {
        grid-template-columns: 240px auto;
        border-top: 1px solid var(--bg-gray);
    }

    .sidebar-new .offcanvas-lg {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {}